---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" color='secondary' >
  <div class="flex justify-between w-full items-start mb-2">
      <h2 class="text-xl font-semibold">Freelance</h2>
      
    
    <Pulse />
  </div>
  <p class="text-xs">Actualmente enfocado en el desarrollo por encargo de aplicaciones y páginas web.</p>
</Card>
